venv
__pycache__
tests/lcov
.coverage
out
custom
.pytest_cache

docs/example/*
!docs/example/example_two_maps_diagram.png
!docs/example/example_two_maps_table.png
!docs/example/example_region_collisions_diagram.png
!docs/example/example_region_collisions_table.png
!docs/example/example_end_collision_diagram.png
!docs/example/example_end_collision_table.png

examples.md